<h1><%= "#{@todo_list.name}" %></h1>
<div>
<%= link_to "Edit", edit_todo_list_path %>
</div>

<h3>Todo's</h3>
	<% @todo_list.todos.each do |todo| %>
		<li id=<%= "#{todo.id}" %>>
			<strong>Task: <%= "#{todo.name}" %></strong>
		<p>Description: <%= "#{todo.description}" %></p>
		<p>Status: <%= "#{todo.status}" %></p>
		<p>Created At: <%= "#{todo.created_at}" %></p>
		<%= link_to 'Edit', edit_todo_path("#{todo.id}") %>
	</li>
	<% end %>
	
<div>
<%= link_to "Add a Todo Item", new_todo_path %>
</div>

<div>
<%= link_to "Home", todo_lists_path %>
</div>	