<h1>New Todo for this List</h1>

<%= form_for @todo do |f| %>
	
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :description %>
	<%= f.textarea :description %>
	
	<%= f.hidden_field :todolist_id, value: session[:todo_list] %>
	
	<%= f.hidden_field :user_id, value: current_user.id %>
	
	<%= f.submit %>

<% end %>